# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build & static export
/.next/
/out/

# Neutralino build outputs and binaries
/dist/
/resources/
/bin/
*.neu

# Logs and runtime data
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS and Editor files
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo
